<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Members</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <style>
      .center {
        margin: auto;
        width: 30%;
        border: none;
        padding: 10px;
        position: relative;
      }
    </style>
  </head>

  <body class="text-center">
    <div class="center">
      <h3>Welcome!</h3>
      <form action="/logout" method="POST">
        <button class="btn btn-lg btn-primary btn-block">Sign Out</button>
      </form>
    </div>
  </body>
</html>
